<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK0MxbbyPk65GL44THQp8Kao-fDXXS23U</string>
	<key>GCM_SENDER_ID</key>
	<string>999129403548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.triviaWithFlutter</string>
	<key>PROJECT_ID</key>
	<string>trivia-e86e6</string>
	<key>STORAGE_BUCKET</key>
	<string>trivia-e86e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999129403548:ios:c566be40521653ff9f1d59</string>
</dict>
</plist>